<meta charset="UTF-8">
<Script src="https://unpkg.com/vue@2"></Script>

<div id="app">
    <ul>
        <!-- Acessando o Indice atual -->
        <li v-for="(cor, i) in cores">{{ i + 1}} {{ cor }}</li>
    </ul> 
    <template v-for="(cor, i ) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas"> 
            <div v-for="(valor, chave, index) in pessoa">
                {{ chave }} = {{ valor }} ({{ index + 1 }})
            </div>
        </li>
    </ul>
    <hr>
    <!-- Iterando em uma lista de numeros -->
    <div v-for="n in 10"> {{ n }} </div>
</div>


<script>
    new Vue({
        el:'#app',
        data: {
           cores: ['vermelho', 'verde', 'amarelo', 'azul'],
           pessoas: [
            {nome: 'ana', idade:26, peso:59},
            {nome: 'higor', idade:21, peso:78},
           ]
        }



    })
</script>